body {
  background-image: url("background.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.stylized {
  background: #e8e8e8;
  border: 20px solid #e8e8e8;
  border-radius: 15px;
}

.text-shadow-black {
  text-shadow: 2px 4px 4px darkgray;
}

.text-shadow-white {
  text-shadow: 2px 2px 2px #fff;
}

.radius-border {
  border-radius: 10px;
}